@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-white d-flex flex-column align-items-center">
    <h1 class="display-2 jb-mono fw-bolder">ITEM ARCHIVE</h1>
    <div id="restricted-access" class="fs-5">
        <hr class="text-danger">
        <div class="text-danger jb-mono mb-3"><span>RESTRICTED ACCESS</span></div>
    </div>
    <div class="text-grey jb-mono fs-6" style="width: 600px">AUTHORIZED CLEARANCE LEVEL 4+ REQUIRED FOR DETAILED
        DOSSIER
        ACCESS.
        DISSEMINATION OF
        CONTAINMENT DATA TO
        UNAUTHORIZED PERSONNEL IS GROUNDS FOR IMMEDIATE TERMINATION</div>

    <div>

    </div>
</div>
